body {
	font-family: 'Lato', sans-serif;
	background-image: url("images\grid.jpg");
	margin:20px;
	padding:10px 5px 15px 20px;
	}

a {
	text-decoration: none; 
	-moz-transition-duration: .9s ;
    -webkit-transition-duration: .9s;
    transition-duration: .9s ;
	color: inherit;
	}
	
a:hover { 
    color: #eac8da;
	opacity: 1;
    -moz-transition-duration: .7s;
    -webkit-transition-duration: .7s;
    transition-duration: .7s;
	
	}	
	
.banner{
	position:absolute;
	margin-bottom:0px;
	height: 100px;
	color: #eac8da;
}

h1 {
    
}



h2 {
	font-size: '12px';
    color: #808080;
	line-height:90%;
	}


.sidebar p{
	font-size:12px;
	color: #b6b6b6;
	font-family: open sans;
	font-weight:normal;
	letter-spacing:.5px;
	line-height:110%;
	text-decoration:none;
}

.img-circle {
    border-radius: 50%;
}

.box{
	position:absolute;
    background: #fff;
	border: 1px solid #F7F7F7;
	border-radius: 3px;
    float: left;
	height: 365px;
    width: 400px;
	top: 100px; 
	left:400px;
	padding-left:10px;
	font-size:10px;
	font-weight:lighter;
	font-family:open sans;
	line-height:70%;
}

.box p{
	font-size:'10px';
	padding-right:8px;
	color: #b6b6b6;
	font-family: open sans;
	font-weight:normal;
	letter-spacing:.5px;
	line-height:110%;
	text-decoration:none;
}

.sidebar{
	position:fixed;
	top: 100px; 
	left: 100px;
    background: #fff none repeat scroll 0 0;
	border: 1px solid #F7F7F7;
	border-radius: 3px;
    float: left;
	height: 180px;
    width: 250px;
	font-size:11px;
	font-family:open sans;
	z-index:1
}

.portfolio-header{
	position:absolute;
	background:transparent;
	width:600px;
	top:30px;
	left:410px;
	color:#F0D8E5;
}


/* FONTS */
.fontkarla,.fontkarla input{font-family:'Karla',Arial,Helvetica,sans-serif;}
.fontssp,.fontssp input{font-family:'Source Sans Pro',Arial,Helvetica,sans-serif;}
.fontos,.fontos input{font-family:'Open Sans',Arial,Helvetica,sans-serif;}